.text-grey {
    color: #6F6F6F !important;
}

.bg-light-grey {
    background-color: #DEE2E6 !important;
}

.border-radius-sm {
    border-radius: 0.35rem !important;
}

.asset-deskripsi {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.border-secondary {
    border-color: #707070 !important;
}

.text-green {
    color: #878787 !important;
}